<div class="checkbox-options-group">


  <!--table width="100%">
  <tr>
      <td align="left" style="font-size: 10px;">
          <label>
          <input type="radio" ng-checked="data.compare" ng-model="data.compare" ng-value="true" ng-change="applyCompareChange()"></input>
          Compare
          </label>
      </td>
      <td align="left" style="font-size: 10px;">
          <label>
          <input type="radio" ng-checked="!data.compare" ng-model="data.compare" ng-value="false" ng-change="applyCompareChange()"></input>
          Aggregate
          </label>
      </td>
  </tr>
</table-->
  <inner-nested-checkbox data="data"  id="Options" query="query">

  </inner-nested-checkbox>
</div>
